/* css styling for index.html */

/* open font */
@font-face {
    font-family: 'Aquire';
    src: url('fonts/aquire.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* element-styling */
html, body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

main {
    padding-top: 75px;
    overflow-x: hidden;
}

h1 {
    font-size: 200%;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    font-family: 'Aquire', sans-serif;
    font-size: 120%;
    background-color: rgb(18, 18, 18);
    color: white;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
}

footer {
    font-family: 'Aquire', sans-serif;
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

button {
    font-family: 'Century Gothic', sans-serif;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

table {
    border-collapse: collapse;
}

th {
    font-size: 130%;
}

th, td {
    padding: 10px;
    text-align: left;
    white-space: normal;
    overflow: hidden;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    width: 85%;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-color: #555;
}

/* class-styling */
.alert {
    margin-top: 30px;
    display: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.indented-text {
    margin-left: 100px;
}

.content {
    margin-top: 1%;
    margin-bottom: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.editable {
    background-color: lightgray;
}

.danger {
    color: #fff;
    border: 1px solid #dc3545;
    background-color: #dc3545;
}

.danger:hover {
    color: #dc3545;
    background-color: #fff;
}

.danger:focus,
.danger:active {
    color: #fff;
    background-color: #dc3545;
    border-color: #fff;
}

.primary {
    color: #fff;
    border: 1px solid #fff;
    background-color: rgb(18, 18, 18);
}

.primary:hover {
    color: rgb(18, 18, 18);
    background-color: rgb(255, 255, 255);
    border-color: rgb(18, 18, 18);
}

.primary:focus,
.primary:active {
    color: #fff;
    background-color: rgb(18, 18, 18);
    border-color: #fff;
}

.button-container {
    display: block;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 2%;
}

.button-container button {
    margin-right: 1%;
}

.action-button {
    display: block;
    justify-content: space-between;
    margin-top: 2%;
}

.action-button button {
    margin-right: 1%;
}

.navigation-buttons {
    font-size: 140%;
}

.custom-prompt-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-prompt-box {
    font-weight: bold;
    background-color: #ef9fa7;
    border: 2px solid #dc3545;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: shake 0.5s;
    max-width: 400px;
}

.custom-prompt-box p {
    margin: 0 0 10px;
}

.custom-prompt-box button {
    margin-top: 20px;
    background-color: rgb(18, 18, 18);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    width: 40%;
    max-width: 200px;
}

/* id-styling */
#missions {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

#missionTable {
    white-space: nowrap;
    width: 100%;
    table-layout: fixed;
    overflow-x: hidden;
}

#burger-menu {
    color: white;
    background-color: transparent;
    display: none;
    font-size: 36px;
    cursor: pointer;
    right: 0;
}

#dropdown-menu {
    color: white;
    display: none;
    position: absolute;
    background-color: rgb(18, 18, 18);
    top: 100%;
    right: 0;
    z-index: 100;
    width: 30%;
    text-align: center;
}

#dropdown-menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#dropdown-menu a:hover {
    background-color: rgba(255, 255, 255);
    color: black;
    border: 1px solid black;
}

/* media queries */
/* 321p resolution */
@media (min-width: 0px) and (max-width: 322px) {
    header h1 {
        font-size: 100%;
    }
    #burger-menu {
        display: block;
    }
    nav ul {
        display: none;
    }
    img {
        display: none;
    }
    #missionTable thead {
        display: none;
    }
    #missionTable tbody {
        display: block;
    }
    #missionTable tr {
        display: block;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e1eade;
    }
    #missionTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    #missionTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }
    #missionTable td:nth-child(1)::before {
        content: 'Mission Name';
    }
    #missionTable td:nth-child(2)::before {
        content: 'Mission ID';
    }
    #missionTable td:nth-child(3)::before {
        content: 'Manufacturers';
    }
    #missionTable td:nth-child(4)::before {
        content: 'Payload';
    }
    #missionTable td:nth-child(5)::before {
        content: 'Description';
    }
    #missionTable td:nth-child(6)::before {
        width: 0px;
    }
    #missionTable td:nth-child(7)::before {
        width: 0px;
    }
    .custom-prompt-box {
        width: 80%;
    }
}

/* 376p resolution */
@media (min-width: 322px) and (max-width: 376px) {
    header h1 {
        font-size: 100%;
    }
    #burger-menu {
        display: block;
    }
    nav ul {
        display: none;
    }
    img {
        width: 300px;
        width: 300px;
    }
    #missionTable thead {
        display: none;
    }
    #missionTable tbody {
        display: block;
    }
    #missionTable tr {
        display: block;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e1eade;
    }
    #missionTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    #missionTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }
    #missionTable td:nth-child(1)::before {
        content: 'Mission Name';
    }
    #missionTable td:nth-child(2)::before {
        content: 'Mission ID';
    }
    #missionTable td:nth-child(3)::before {
        content: 'Manufacturers';
    }
    #missionTable td:nth-child(4)::before {
        content: 'Payload';
    }
    #missionTable td:nth-child(5)::before {
        content: 'Description';
    }
    #missionTable td:nth-child(6)::before {
        width: 0px;
    }
    #missionTable td:nth-child(7)::before {
        width: 0px;
    }
    .custom-prompt-box {
        width: 70%;
    }
}

/* 426p resolution */
@media (min-width: 376px) and (max-width: 427px) {
    header h1 {
        font-size: 100%;
    }
    #burger-menu {
        display: block;
    }
    nav ul {
        display: none;
    }
    img {
        width: 300px;
        width: 300px;
    }
    #missionTable thead {
        display: none;
    }
    #missionTable tbody {
        display: block;
    }
    #missionTable tr {
        display: block;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e1eade;
    }
    #missionTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    #missionTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }
    #missionTable td:nth-child(1)::before {
        content: 'Mission Name';
    }
    #missionTable td:nth-child(2)::before {
        content: 'Mission ID';
    }
    #missionTable td:nth-child(3)::before {
        content: 'Manufacturers';
    }
    #missionTable td:nth-child(4)::before {
        content: 'Payload';
    }
    #missionTable td:nth-child(5)::before {
        content: 'Description';
    }
    #missionTable td:nth-child(6)::before {
        width: 0px;
    }
    #missionTable td:nth-child(7)::before {
        width: 0px;
    }
    .custom-prompt-box {
        width: 70%;
    }
}

/* 768p resolution */
@media (min-width: 427px) and (max-width: 768px) {
    header h1 {
        font-size: 120%;
    }
    #burger-menu {
        display: block;
    }
    nav ul {
        display: none;
    }
    img {
        width: 400px;
        width: 400px;
    }
    #missionTable thead {
        display: none;
    }
    #missionTable tbody {
        display: block;
    }
    #missionTable tr {
        display: block;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e1eade;
    }
    #missionTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    #missionTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }
    #missionTable td:nth-child(1)::before {
        content: 'Mission Name';
    }
    #missionTable td:nth-child(2)::before {
        content: 'Mission ID';
    }
    #missionTable td:nth-child(3)::before {
        content: 'Manufacturers';
    }
    #missionTable td:nth-child(4)::before {
        content: 'Payload';
    }
    #missionTable td:nth-child(5)::before {
        content: 'Description';
    }
    #missionTable td:nth-child(6)::before {
        width: 0px;
    }
    #missionTable td:nth-child(7)::before {
        width: 0px;
    }
    .custom-prompt-box {
        width: 60%;
    }
}

/* 1024p resolution */
@media (min-width: 768px) and (max-width: 1024px) {
    header h1 {
        font-size: 130%;
    }
    #burger-menu {
        display: none;
    }
    #dropdown-menu {
        display: none;
    }
    #dropdown-menu a {
        display: none;
    }
    img {
        width: 700px;
        width: 700px;
    }
    #missionTable thead {
        display: none;
    }
    #missionTable tbody {
        display: block;
    }
    #missionTable tr {
        display: block;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e1eade;
    }
    #missionTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    #missionTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }
    #missionTable td:nth-child(1)::before {
        content: 'Mission Name';
    }
    #missionTable td:nth-child(2)::before {
        content: 'Mission ID';
    }
    #missionTable td:nth-child(3)::before {
        content: 'Manufacturers';
    }
    #missionTable td:nth-child(4)::before {
        content: 'Payload';
    }
    #missionTable td:nth-child(5)::before {
        content: 'Description';
    }
    #missionTable td:nth-child(6)::before {
        width: 0px;
    }
    #missionTable td:nth-child(7)::before {
        width: 0px;
    }
    .custom-prompt-box {
        width: 50%;
    }
}

/* 1440p resolution */
@media (min-width: 1024px) and (max-width: 1440px) {
    header h1 {
        font-size: 150%;
    }
    #burger-menu {
        display: none;
    }
    #dropdown-menu {
        display: none;
    }
    #dropdown-menu a {
        display: none;
    }
    img {
        width: 1000px;
        width: 1000px;
    }
    #missionTable thead {
        display: none;
    }
    #missionTable tbody {
        display: block;
    }
    #missionTable tr {
        display: block;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e1eade;
    }
    #missionTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    #missionTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }
    #missionTable td:nth-child(1)::before {
        content: 'Mission Name';
    }
    #missionTable td:nth-child(2)::before {
        content: 'Mission ID';
    }
    #missionTable td:nth-child(3)::before {
        content: 'Manufacturers';
    }
    #missionTable td:nth-child(4)::before {
        content: 'Payload';
    }
    #missionTable td:nth-child(5)::before {
        content: 'Description';
    }
    #missionTable td:nth-child(6)::before {
        width: 0px;
    }
    #missionTable td:nth-child(7)::before {
        width: 0px;
    }
    .custom-prompt-box {
        width: 40%;
    }
}

/* 3840p resolution */
@media (min-width: 1440px) and (max-width: 3840px) {
    #burger-menu {
        display: none;
    }
    #dropdown-menu {
        display: none;
    }
    #dropdown-menu a {
        display: none;
    }
    .container {
        max-width: 1440px;
    }
    img {
        width: 1000px;
        width: 1000px;
    }
    table button {
        width: 130px;
    }
    #missionTable th:nth-child(1), 
    #missionTable td:nth-child(1) {
        width: 15%;
        text-overflow: ellipsis;
    }
    #missionTable th:nth-child(2), 
    #missionTable td:nth-child(2) {
        width: 10%;
        text-overflow: ellipsis;
    }
    #missionTable th:nth-child(3), 
    #missionTable td:nth-child(3) {
        width: 15%;
        text-overflow: ellipsis;
    }
    #missionTable th:nth-child(4),
    #missionTable td:nth-child(4) {
        width: 10%;
        text-overflow: ellipsis;
    }
    #missionTable th:nth-child(5), 
    #missionTable td:nth-child(5) {
        width: 30%;
        text-overflow: ellipsis;
    }
    #missionTable th:nth-child(6), 
    #missionTable td:nth-child(6),
    #missionTable th:nth-child(7), 
    #missionTable td:nth-child(7) {
        width: 10%;
    }
    .custom-prompt-box {
        width: 30%;
    }
}

/* keyframes */
@keyframes shake {
    10%, 90% {
        transform: translate(-1px, 0);
    }
    
    20%, 80% {
        transform: translate(2px, 0);
    }

    30%, 50%, 70% {
        transform: translate(-4px, 0);
    }

    40%, 60% {
        transform: translate(4px, 0);
    }
}